.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 230px minmax(320px, 75rem) auto;
    grid-template-areas:
        '. header header .'
        '. sidebar main .'
        'footer footer footer footer';
    gap: 0 1rem;
    min-height: 100vh;
}

.header {
    display: none;
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas:
            'header'
            'main'
            'footer';
    }
    .sidebar {
        display: none;
    }
    .header {
        display: initial;
    }
}
