:root {
    --font-main: 'Rubik', sans-serif;
    --black-color: #3b434e;
    --dark-gray-color: #787d85;
    --gray-color: #b3c0d9;
    --light-gray-color: #ebebeb;
    --white-color: #ffffff;
    --primary-color: #7653fc;
    --primary-active-color: #5d41cb;
    --red-color: #de0000;
    --light-red-color: #fc836d;
    --green-color: #1dc37e;
    --light-green-color: #c8f8e4;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --black-color: #ffffff; */
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus-visible {
    outline: 2px solid magenta;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color: var(--black-color);
    font-family: var(--font-main);
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
} */
